WSO2_BASE_URL=https://tu-ip:9443
WSO2_TENANT_DOMAIN=carbon.super
WSO2_CLIENT_ID=xxxxxxxxxxxxxxxx
WSO2_CLIENT_SECRET=xxxxxxxxxxxxxxxx
APP_BASE_URL=http://localhost:3000
SESSION_SECRET=super-secreto-cambia-esto
SESSION_TTL_MS=3600000
ALLOW_INSECURE_TLS=true
CLOCK_TOLERANCE_SECONDS=300

